@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <h1>Game of Thrones</h1>
    <hr />

        <h4 style="text-align:center">Books</h4>
<li style="text-align:center">
    <a href="/home/bookdetails?id=1" style="color:black;">A Game of Thrones</a>
    <a href="/home/bookdetails?id=2" style="color:black">A Clash of Kings</a>
    <a href="/home/bookdetails?id=3" style="color:black">A Storm of Swords</a>
    <a href="/home/bookdetails?id=4" style="color:black">The Hedge Knight</a>
    <a href="/home/bookdetails?id=5" style="color:black">A Feast for Crows</a>
    <a href="/home/bookdetails?id=6" style="color:black">The Sworn Sword</a>
    <a href="/home/bookdetails?id=7" style="color:black">The Mystery Knight</a>
</li>
<br />
<h4 style="text-align:center">Houses</h4>
<li style="text-align:center">
<a href="/home/housedetails?id=379" style="color:black">House Tarly</a>
<a href="/home/housedetails?id=378" style="color:black">House Targaryen</a>
<a href="/home/housedetails?id=362" style="color:black">House Stark</a>
</li>
</div>
